mixin header(linksPages, path, whoPage)
  - let ifType = whoPage === "type_coffee" || whoPage === "type_tea" || whoPage === "type_syrup" || whoPage === "type_sweet" || whoPage === "type_tools" || whoPage === "type_carton_cup"
  - let ifPack = whoPage === "pack_coffee" || whoPage === "pack_tools" || whoPage === "pack_tea"

  header
    nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
      .container
        a.navbar-brand(href=`${linksPages.main}index.html`)
          | Coffe
          span.text-info In
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mb-2.mb-lg-0

            li.nav-item
              if whoPage === "index"
                a.nav-link.active(aria-current="page" href=`${linksPages.main}index.html`) Головна
              else
                a.nav-link(aria-current="page" href=`${linksPages.main}index.html`) Головна

            li.n1av-item
              if whoPage === "delivery"
                a.nav-link.active(href=`${linksPages.delivery}delivery_item.html`) Доставка на св"ята
              else
                a.nav-link(href=`${linksPages.delivery}delivery_item.html`) Доставка на св"ята

            mixin item_type(active, whoPageItem, pathTwo)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(class=active href="#" role="button" data-toggle="dropdown" aria-expanded="false")
                  | Товари
                ul.dropdown-menu(aria-labelledby="navbarDropdown")
                  li
                    if whoPageItem === "type_coffee"
                      a.dropdown-item.active(href=`${path}type_coffee.html`) Кава
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_coffee.html`) Кава
                    else
                      a.dropdown-item(href=`${path}type_coffee.html`) Кава
                  li
                    if whoPageItem === "type_tea"
                      a.dropdown-item.active(href=`${path}type_tea.html`) Чай
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_tea.html`) Чай
                    else
                      a.dropdown-item(href=`${path}type_tea.html`) Чай
                  li
                    if whoPageItem === "type_syrup"
                      a.dropdown-item.active(href=`${path}type_syrup.html`) Сироп
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_syrup.html`) Сироп
                    else
                      a.dropdown-item(href=`${path}type_syrup.html`) Сироп
                  li
                    if whoPageItem === "type_sweet"
                      a.dropdown-item.active(href=`${path}type_sweet.html`) Солодке
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_sweet.html`) Солодке
                    else
                      a.dropdown-item(href=`${path}type_sweet.html`) Солодке
                  li
                    if whoPageItem === "type_tools"
                      a.dropdown-item.active(href=`${path}type_tools.html`) Інструменти кава-варіння
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_tools.html`) Інструменти кава-варіння
                    else
                      a.dropdown-item(href=`${path}type_tools.html`) Інструменти кава-варіння
                  li
                    if whoPageItem === "type_carton_cup"
                      a.dropdown-item.active(href=`${path}type_carton_cup.html`) Стаканчики і додаткові товари
                    else if whoPageItem === "pack"
                      a.dropdown-item(href=`${path}${pathTwo}type_carton_cup.html`) Стаканчики і додаткові товари
                    else
                      a.dropdown-item(href=`${path}type_carton_cup.html`) Стаканчики і додаткові товари
            if ifType
              +item_type("active", whoPage)
            else if ifPack
              +item_type("", "pack", "../types_food/")
            else
              +item_type





            mixin item_pack(active, whoPageItem, pathTwo)
              li.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-expanded="false")
                  | Готові набори
                ul.dropdown-menu(aria-labelledby="navbarDropdown")
                  li
                    if whoPageItem === "pack_coffee"
                      a.dropdown-item.active(href=`${path}pack_coffee.html`) Набори кави
                    else
                      a.dropdown-item(href=`${path}../pack/pack_coffee.html`) Набори кави
                  li
                    if whoPageItem === "pack_tools"
                      a.dropdown-item.active(href=`${path}pack_tools.html`) Набори бариста
                    else
                      a.dropdown-item(href=`${path}../pack/pack_tools.html`) Набори бариста
                  li
                    if whoPageItem === "pack_tea"
                      a.dropdown-item.active(href=`${path}pack_tea.html`) Набори чаїв
                    else
                      a.dropdown-item(href=`${path}../pack/pack_tea.html`) Набори чаїв
                  
            if ifPack
              +item_pack("active", whoPage)
            else
              +item_pack




          form.d-flex
            input.form-control.mr-2(type="search" id="inputSearch" placeholder="Search" aria-label="Search")
            button.btn.btn-outline-success(type="button" id="buttonSearch") Search
